<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروشگاه ساعت</title>
    <link rel="stylesheet" href="/styles/css/app.css">
</head>
<body dir="rtl">

<header class="menuBar">
    <div class="logo">
        <p>
            <span class="logoText1">فروشگاه</span>
            <span class="logoText2">ساعت</span>
        </p>
    </div>
    <nav class="menu">
        <div class="menuItem"><a class="menuItemText" href="/#">خانه</a></div>
        <div class="menuItem"><a class="menuItemText" href="/forooshgah">فروشگاه</a></div>
        <div class="menuItem"><a class="menuItemText" href="/modiriatMahsool">مدیریت محصول</a></div>
        <div class="menuSpecialItem">
            <a class="menuItemText" href="/akharinMahsool">آخرین محصولات</a>
            <div class="menuSpecialItemShape">داغ</div>

        </div>
        <div class="menuItem"><a class="menuItemText" href="/blog">بلاگ</a></div>
        <div class="menuItem"><a class="menuItemText" href="/safheha">صفحه ها</a></div>
        <div class="menuItem"><a class="menuItemText" href="/ertebatBaMa">ارتباط با ما</a></div>
    </nav>
    <div class="buttons">
        <a href="/search"><img class="buttonsItem" src="/images/search.png" alt="search icon"/></a>
        <a href="/user"><img class="buttonsItem" src="/images/user.png" alt="user icon"/></a>
        <a href="/forooshgah"><img class="buttonsItem" src="/images/shop.png" alt="shop icon"/></a>
    </div>
</header>
{{#if (eq router 0)}}
    <section class="content1">
        <div class="content1-1"><img class="content1-1-image" src="/images/watch1.png" alt="watch1"></div>
        <div class="content1-2">
            <div class="content1-2-text1"><h2>استایل جدیدت رو انتخاب کن</h2></div>
            <p class="content1-2-text2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است و اینکه چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
            <a class="content1-2-text3" href="/#">خرید کن</a>
        </div>
    </section>
{{/if}}
{{#if (or (eq router 0) (eq router 1) (eq router 3))}}
    <section class="content2" dir="rtl">
        <div class="content2-title"><h2>محصولات جدید</h2></div>
        <div class="listOfNewArrivalsFather">
            <div class="listOfNewArrivals">
                <div class="listOfNewArrivals-commodity">
                    <img class="listOfNewArrivals-commodity__image" src="/images/watch7.jpg" alt="ساعت جدید">
                    <div class="listOfNewArrivals-commodity__title"><p>ساعت مدل یک</p></div>
                    <p class="listOfNewArrivals-commodity__price">۵۰۰۰ <span class="toman">تومان</span></p>
                </div>
                <div class="listOfNewArrivals-commodity">
                    <img class="listOfNewArrivals-commodity__image" src="/images/watch8.jpg" alt="ساعت جدید">
                    <div class="listOfNewArrivals-commodity__title"><p>ساعت مدل دو</p></div>
                    <p class="listOfNewArrivals-commodity__price">۵۰۰۰ <span class="toman">تومان</span></p>
                </div>
                <div class="listOfNewArrivals-commodity">
                    <img class="listOfNewArrivals-commodity__image" src="/images/watch9.jpg" alt="ساعت جدید">
                    <div class="listOfNewArrivals-commodity__title"><p>ساعت مدل سه</p></div>
                    <p class="listOfNewArrivals-commodity__price">۵۰۰۰ <span class="toman">تومان</span></p>
                </div>
            </div>
        </div>
    </section>
{{/if }}

{{#if (eq router 2)}}
<section class="addContent">
    <form action="/modiriatMahsool" method="POST">
        <label for="name">نام</label>
        <input type="text" id="name" name="name" >
        <label for="token">توکن (نمایش فقط برای روند توسعه)</label>
        <input type="text" id="token" name="token" >
        <label for="gheymat">قیمت</label>
        <input type="text" id="gheymat" name="gheymat">

        <label for="aks">عکس</label>
        <select id="aks" name="aks">
            <option value="1">عکس 1</option>
            <option value="2">عکس 2</option>
            <option value="3">عکس 3</option>
        </select>

        <input type="submit" value="اضافه کردن">
    </form>
</section>
<script>
    let data = sessionStorage.getItem('login');
    if (data === "1"){
        let token = sessionStorage.getItem('tk');
        document.getElementById('token').value = token;
    }else{
        window.location.href = '/user';
    }

</script>
{{/if}}


{{#if (eq router 0)}}
    <section class="content3">
        <div class="gallery">
            <img class="gallery__image1" src="/images/watch3.jpg" alt="image1">
            <img class="gallery__image2" src="/images/watch2.jpg" alt="image4">
            <div class="gallery__images">
                <img class="gallery__image3" src="/images/watch4.jpg" alt="image2">
                <img class="gallery__image4" src="/images/watch5.jpg" alt="image3">
            </div>
        </div>
    </section>
{{/if}}
{{#if (or (eq router 0) (eq router 1) (eq router 2))}}
    <section class="content4">
            <div class="popularItems__title">
                <h2 class="popularItems__title-1">آیتم‌های پرطرفدار</h2>
                <p class="popularItems__title-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
            </div>
            <div class="popularItems-items">
                {{#if (eq router 2)}}
                {{#each data}}
                    <div class="popularItems-items__item">
                        <div class="popularItems-items__item-remove">
                            <a class="fixLink" href="/modiriatMahsool-{{this._id}}">X</a>
                        </div>
                        <img class="popularItems-items__image" src="{{this.img}}" alt="popularItems items image">
                        <div class="popularItems-items__info">
                            <p class="popularItems-items__item-p1">{{this.name}}</p>
                            <p class="popularItems-items__item-p2">{{this.price}} هزار تومان</p>
                        </div>
                    </div>

                {{/each}}
                    <script>
                        var elements = document.getElementsByClassName("fixLink");
                        for(var i=0; i<elements.length; i++) {
                            elements[i].href = elements[i].href + '-' + sessionStorage.getItem('tk')
                        }
                    </script>
                {{/if}}
                {{#if (ne router 2)}}
                    {{#each data}}
                        <div class="popularItems-items__item">
                            <img class="popularItems-items__image" src="{{this.img}}" alt="popularItems items image">
                            <div class="popularItems-items__info">
                                <p class="popularItems-items__item-p1">{{this.name}}</p>
                                <p class="popularItems-items__item-p2">{{this.price}} هزار تومان</p>
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        {{#if (or (eq router 0) (eq router 1))}}
            <div class="content5-buttonDiv">
                <a class="content5-button-2" href="/modiriatMahsool">
                    <p>
                        مدیریت محصول (حذف و اضافه کردن)
                    </p>
                    <img class="content5-left" src="/images/2.svg" alt="left arrow">
                </a>
            </div>
        {{/if }}
    {{#if (or (eq router 0) (eq router 2))}}
        <a class="content4-lastbutton" href="/forooshgah">دیدن محصولات بیشتر</a>
    {{/if}}
    </section>
{{/if}}
{{#if (eq router 0)}}
    <section class="content5">
        <video class="content5-video" controls>
            <source src="/images/video.mp4" type="video/mp4">
        </video>
        <div class="content5-buttonDiv">
            <a class="content5-button" href="/#">
                <p>
                ویدیو بعدی
                </p>
                <img class="content5-left" src="/images/left.png" alt="left arrow">
            </a>
        </div>
    </section>
    <section class="content6">
        <div class="containerOfChoices">
            <div class="containerOfChoices-choice one">
                <img class="containerOfChoices-choice__image" src="/images/watch6.jpg" alt="">
                <div class="containerOfChoices-choice__detail">
                    <h2 class="containerOfChoices-choice__detail__title">ساعت انتخابی</h2>
                    <p class="containerOfChoices-choice__detail__dis">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                    <a class="containerOfChoices-choice__detail__btn" href="/#">نمایش ساعت‌ها</a>
                </div>
            </div>
            <div class="containerOfChoices-choice">
                <img class="containerOfChoices-choice__image" src="/images/watch6.jpg" alt="">
                <div class="containerOfChoices-choice__detail">
                    <h2 class="containerOfChoices-choice__detail__title">ساعت انتخابی</h2>
                    <p class="containerOfChoices-choice__detail__dis">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                    <a class="containerOfChoices-choice__detail__btn" href="/#">نمایش ساعت‌ها</a>
                </div>
            </div>
        </div>
    </section>
    <section class="content7">
        <div class="attributesWrapper">
          <div class="attributesWrapper__method">
              <img class="attributesWrapper__method__img" src="/images/1.svg" alt="icon">
              <p class="attributesWrapper__method__tittle">ویژگی مورد نظر اول</p>
              <p class="attributesWrapper__method__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
          </div>
          <div class="attributesWrapper__method">
            <img class="attributesWrapper__method__img" src="/images/2.svg" alt="icon">
            <p class="attributesWrapper__method__tittle">ویژگی مورد نظر دوم</p>
            <p class="attributesWrapper__method__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
        </div>
        <div class="attributesWrapper__method">
            <img class="attributesWrapper__method__img" src="/images/3.svg" alt="icon">
            <p class="attributesWrapper__method__tittle">ویژگی مورد نظر سوم</p>
            <p class="attributesWrapper__method__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
        </div>
        </div>
    </section>
{{/if}}

{{#if (eq router 4)}}
<section class="blog">
    <div class="blog-body">
        <h2>
           عنوان موضوع 1
        </h2>
        <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
        </p>
    </div>
    <div class="blog-body">
        <h2>
            عنوان موضوع 2
        </h2>
        <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
        </p>
    </div>
    <div class="blog-body">
        <h2>
            عنوان موضوع 3
        </h2>
        <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
        </p>
    </div>
</section>
{{/if}}
{{#if (eq router 5)}}
    <div class="blog-body">
        <h2>
            صفحه ها
        </h2>
        <p>
        <div class="menuItem"><a class="menuItemText" href="/#">خانه</a></div>
        <div class="menuItem"><a class="menuItemText" href="/forooshgah">فروشگاه</a></div>
        <div class="menuItem"><a class="menuItemText" href="/modiriatMahsool">مدیریت محصول</a></div>
        <div class="menuItem">
            <a class="menuItemText" href="/akharinMahsool">آخرین محصولات</a>
        </div>
        <div class="menuItem"><a class="menuItemText" href="/blog">بلاگ</a></div>
        <div class="menuItem"><a class="menuItemText" href="/safheha">صفحه ها</a></div>
        <div class="menuItem"><a class="menuItemText" href="/ertebatBaMa">ارتباط با ما</a></div>
        </p>
    </div>
{{/if}}
{{#if (eq router 6)}}
    <div class="blog-body">
        <h2>
            ارتباط با ما
        </h2>
        <p>
            مهدی صفرمحمدلو : 95440296
        </p>
        <p>
            پویا شریغی : 95440162
        </p>

    </div>
{{/if}}
{{#if (eq router 7)}}

{{/if}}

{{#if (eq router 9)}}
    <div class="blog-body">
        <h2>
            با موفقیت انجام شد
        </h2>
    </div>
    <div id="hiddenToken" hidden>{{tk}}</div>
    <script>
        sessionStorage.setItem('login', '1');
        sessionStorage.setItem('tk', document.getElementById('hiddenToken').innerText);
    </script>
{{/if}}
{{#if (eq router 8)}}
    <section class="addContent">
        <form action="/userlogin">
            <label for="name">نام کاربری</label>
            <input type="text" id="name" name="name" >

            <label for="pass">رمز عبور</label>
            <input type="text" id="pass" name="pass">
            <input id="login-button" type="submit" value="ورود">

        </form>
    </section>
    <section class="addContent">
        <form action="/usersignup">
            <label for="name">نام کاربری</label>
            <input type="text" id="name" name="name" >

            <label for="pass">رمز عبور</label>
            <input type="text" id="pass" name="pass">
            <input id="signup-button" type="submit" value="ثبت نام">
        </form>
    </section>
    <script>
        document.getElementById("login-button").addEventListener("click", function() {
            let data = sessionStorage.getItem('login');
            if (data === '1'){
                window.location.href = '...';
            }else{
                window.location.href = '...';
            }
        });
    </script>
{{/if}}
<footer>
    <div class="footerWrapper">
        <div class="footerWrapper__timeZone">
            <p class="footerWrapper__timeZone__title">
                <span class="orange">فروشگاه</span>
                <span>ساعت</span>
            </p>
            <p class="footerWrapper__timeZone__dis">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
        </div>
        <div class="footerWrapper__column">
            <p class="footerWrapper__column__titile">لینک‌های سریع</p>
            <div class="footerWrapper__column__links">
                <a href="/#">درباره</a>
                <a href="/#">تخفیف‌ها</a>
                <a href="/#">دریافت کوپن</a>
                <a href="/#">ارتباط با ما</a>
            </div>
        </div>
        <div class="footerWrapper__column">
            <p class="footerWrapper__column__titile">محصولات جدید</p>
            <div class="footerWrapper__column__links">
                <a href="/#">ساعت زنانه</a>
                <a href="/#">اکسسوریه فشن</a>
                <a href="/#">محصولات مردانه</a>
                <a href="/#">محصولات کودکانه</a>
            </div>
        </div>
        <div class="footerWrapper__column">
            <p class="footerWrapper__column__titile">پشتیبانی</p>
            <div class="footerWrapper__column__links">
                <a href="/#">سوال و پرسش</a>
                <a href="/#">قوانین و مقررات</a>
                <a href="/#">حریم شخصی</a>
                <a href="/#">مشکلی در پرداخت</a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p class="copyright1">
            کپی رایت 2020 © توسط MahdiSML و PooyaSP2
        </p>
        <div class="copyright2">
            <a href="/#">
            <img class="copyright2-image" src="/images/facebook.png" alt="facebook">
            </a>
            <a href="/#">
            <img class="copyright2-image" src="/images/twitter.png" alt="twitter">
            </a>
        </div>
    </div>
</footer>
</body>
</html>